* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("money-background-high.jpg");
  background-color: #CCC;
  background-attachment: fixed;
}
p {
  color: yellow;
  font-family: Tahoma;
}
.money {
  color: green;
  font-family: fantasy;
  font-weight: 400;
}
